In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Reading the dataset
df = pd.read_csv("G:\My Drive\ITS\Tugas\Semester_5\Biomedical Engineering\Final Project Req\Dataset.csv")
df.head()

,sampleID,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,...,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS,PAM50Call_RNAseq
0,TCGA-AR-A5QQ-01,9.5074,1.5787,0.0000,11.3676,11.1292,9.9722,11.5966,3.2396,0.0000,...,0.0000,5.3307,0.5819,9.1928,13.8808,7.3830,11.4289,7.8456,10.7384,NaN
1,TCGA-D8-A1JA-01,7.4346,3.6607,0.6245,11.9181,13.5273,10.8702,12.3048,2.5547,0.0000,...,0.0000,3.1017,3.7793,9.8340,10.7066,7.2467,9.1673,0.0000,10.1225,Her2
2,TCGA-BH-A0BQ-01,9.3216,2.7224,0.5526,11.9665,11.4105,10.4406,12.8186,4.7115,0.0000,...,2.7224,4.2976,0.0000,9.2304,12.9973,8.3374,11.3400,8.3765,9.9367,LumA
3,TCGA-BH-A0BT-01,9.0198,1.3414,0.0000,13.1881,11.0911,10.4244,12.6427,2.7553,0.0000,...,2.9823,4.3067,0.0000,8.7816,12.3298,7.7036,11.3025,7.0585,9.3784,LumA
4,TCGA-A8-A06X-01,9.6417,0.5819,0.0000,12.0036,11.2545,10.1480,12.6622,4.2765,1.8007,...,0.5819,3.5764,0.0000,9.3024,11.3338,7.7186,10.6898,7.0992,11.1740,LumB

In [4]:
# Basic information about the dataset
display(df.describe())
display(df.info())

,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
count,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,...,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000
mean,9.670572,3.358906,0.275505,11.854950,11.133875,10.424281,12.570527,4.376495,0.315575,5.376874,...,0.611965,3.017071,4.233098,0.643136,9.342341,12.291451,8.100443,11.105650,6.379264,10.114541
std,0.681304,2.351120,0.751276,0.339161,0.530339,0.480831,0.489030,1.240456,0.460433,1.093426,...,0.652624,2.673760,0.877420,1.186940,0.514098,1.119459,0.871974,0.638138,2.311261,0.544815
min,6.931600,0.000000,0.000000,10.778800,8.607200,8.884200,10.971900,0.000000,0.000000,1.243200,...,0.000000,0.000000,0.581600,0.000000,7.222300,7.222100,4.753600,8.230700,0.000000,8.679300
25%,9.225075,1.599925,0.000000,11.644625,10.798525,10.127750,12.266525,3.547900,0.000000,4.662575,...,0.000000,0.711925,3.667675,0.000000,9.048475,11.605000,7.563025,10.759000,5.091700,9.738125
50%,9.650550,2.783750,0.000000,11.850100,11.164100,10.429550,12.555850,4.329600,0.000000,5.378400,...,0.464150,2.284650,4.203400,0.000000,9.328800,12.328800,8.103850,11.133500,6.751050,10.052900
75%,10.094450,4.679000,0.000000,12.062050,11.493100,10.741300,12.855150,5.182375,0.531175,6.078375,...,1.008575,4.829300,4.793175,0.629875,9.593600,12.990075,8.688675,11.461500,8.112850,10.416950
max,11.938900,11.156800,7.892500,13.363900,13.527300,12.037900,14.340800,10.305900,2.572300,9.271000,...,3.523500,12.035200,7.025700,5.508300,11.989100,15.854300,10.809700,13.441300,11.118700,12.917000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Columns: 20532 entries, sampleID to PAM50Call_RNAseq
dtypes: float64(20530), object(2)
memory usage: 190.8+ MB

None

In [6]:
print("Number of Columns:", len(df.columns))
print("Number of Rows:", len(df))

Number of Columns: 20532
Number of Rows: 1218

In [11]:
print("Label", df.columns[-1])
display(df[[df.columns[0], df.columns[-1]]].head())

Label PAM50Call_RNAseq

          sampleID PAM50Call_RNAseq
0  TCGA-AR-A5QQ-01              NaN
1  TCGA-D8-A1JA-01             Her2
2  TCGA-BH-A0BQ-01             LumA
3  TCGA-BH-A0BT-01             LumA
4  TCGA-A8-A06X-01             LumB

In [12]:
# Checking for missing values
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values[missing_values > 0])

Missing values in each column:
 PAM50Call_RNAseq    262
dtype: int64